<ion-header>
    <ion-toolbar>
        <ion-title>{{data.name}}</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
      <ion-card *ngFor="let post of posts">
          <ion-card-header>

              <ion-card-title>{{post.title}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>{{post.body}}</ion-card-content>
      </ion-card>
      <ion-button  color="danger" expand="block"><ion-icon name="add"></ion-icon>&nbsp; New post</ion-button>
  </div>


</ion-content>
<ion-footer>

    <ion-toolbar>
        <ion-button [routerLink]="['/login']" color="secondary" expand="block"><ion-icon name="exit-outline"></ion-icon>&nbsp; log out</ion-button>
    </ion-toolbar>
</ion-footer>







