<ion-header>
    <ion-toolbar>
        <ion-title>Other posts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container" *ngFor="let user of users">

            <ion-card *ngFor="let post of posts">
            <ion-card-header>
                <ion-card-subtitle>{{user.username}}</ion-card-subtitle>
                <ion-card-title>{{post.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{post.body}}
            </ion-card-content>
            </ion-card>

    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button [routerLink]="['/login']" color="secondary" expand="block"><ion-icon name="exit-outline"></ion-icon>&nbsp; log out</ion-button>
    </ion-toolbar>
</ion-footer>








