<ion-header>
    <ion-toolbar>
        <ion-title>Log in</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-list-header lines="full">
        <ion-label>
            Welcome to JSON Placeholder posts
        </ion-label>
    </ion-list-header>

    <div id="container">
        <form (ngSubmit)="LoginCheck()" [formGroup]="registrationForm" >

            <ion-item lines="full">


                <ion-label position="floating" >Email</ion-label>
                <br>
                <ion-input type="email" formControlName="email"  placeholder="eg: Sincere@april.biz" ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.email">
                <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                    <small class="error-message">{{error.message}}</small>
                </ng-container>
            </div>
            <br><br>
            <ion-row>
                <ion-col>
                    <ion-button [disabled]="!registrationForm.valid"  type="submit"  expand="block" color="danger">Log In</ion-button>
                </ion-col>
            </ion-row>
        </form>

    </div>
</ion-content>





